<% include ./partials/header.ejs %>

<div class="new main text container segment">

    <h1>Welcome to my Blog.</h1>
    <small>This is about my journey to learn to code.</small>

    <% blogs.reverse().forEach(function (blog) { %>
        <div>
            <hr>
            <h2> <%=blog.title %></h2>
      
            <img src="<%= blog.imageURL %>" alt="blog-post-image">
            
            <p>by <%= blog.author %></p>
            <p> Submitted on: <%= blog.created %></p>
            <p class=""><%= blog.body.substring(0,110)%>  ... <a href="/blogs/<%=blog._id%>" >SHOW MORE</a></p>
      
            <div>
                <a class="ui blue basic button "href="/blogs/<%=blog._id%>/edit">EDIT </a>  
            </div>

            <p class="blog-id"><em>
                    Blog ID: <%= blog.id.substring(0,5)%>
             </em></p>
            <br/>
        </div>

    <% }); %>

    <% include ./partials/footer.ejs %>
    
</div>