<% include ./partials/header.ejs %>

<div class="new main text container segment">

    <h1>THIS IS THE INDEX PAGE</h1>

    <% blogs.reverse().forEach(function (blog) { %>
        <div>
            <hr>
            <h2> <%=blog.title %></h2>
            
            <% if (!blog.imageURL) {
                blog.imageURL = 'https://images.unsplash.com/photo-1521335751419-603f61523713?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=da93af6c8bb9ba6b964fbb102f1f44f3&auto=format&fit=crop&w=800&q=60'
            } %>
            <img src="<%= blog.imageURL %>" alt="blog-post-image">
            
            <p>by <%= blog.author %></p>
            <p> submitted on: <%= blog.created %></p>
            <p><%= blog.body%></p>
            <br/>
        </div>

    <% }); %>

    <% include ./partials/footer.ejs %>
    
</div>