<% include ./partials/header.ejs %>

<div class="container">

    <h1>THIS IS THE INDEX PAGE</h1>

    <% blogs.forEach(function (blog) { %>
        <div>
            <h2> <%=blog.title %></h2>
            <img src="<%= blog.imageURL %>" alt="blog-post-image">
            <p>by <%= blog.author %></p>
            <p> submitted on: <%= blog.created %></p>
            <p><%= blog.body%></p>
        </div>

    <% }); %>

    <% include ./partials/footer.ejs %>
    
</div>