<% include ./partials/header.ejs %>

<div class="new main text container segment">

    <h1>Welcome to my Blog.</h1>
    <small>This is about my journey to learn to code.</small>

    <% if (blogs.length < 1) { %>
        <p>NO BLOGS YET</p>

    <% } else { %>

        <% blogs.reverse().forEach(function (blog) { %>
            <div>
                <hr>
                <h2> <%=blog.title %></h2>
          
                <img src="<%= blog.imageURL %>" alt="blog-post-image">
                
                <p>by: 
                    <a href="/<%= blog.author.id %>">
                        <%= blog.author.displayName %>
                    </a>
                </p>
                <p> Submitted on: <%= blog.created.toDateString() %></p>
                <p> <%- blog.body.substring(0,110) %>  ... </p> <br>
                <a href="/blogs/<%=blog._id%>" >SHOW MORE</a></p>
                
                <% if (currentUser && blog.author.id.equals(currentUser._id)) {  %>
                        <div id="form-submit form-edit">
                            <form class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method ="POST">
                                <button class="ui mini red basic button">DELETE</button>
                                <a class="ui mini blue basic button "href="/blogs/<%=blog._id%>/edit">EDIT </a>  
                            </form>    
                        </div>
                <% } %>
                
                <p class="blog-id"><em>
                        Blog ID: <%= blog.id.substring(0,5)%>
                 </em></p>
                <br/>
            </div>
        <% }); %>

    <% } %>

     

    <% include ./partials/footer.ejs %>
    
</div>