<% include ./partials/header.ejs %>

<div class="ui main text container segment show"> 
     <div class="ui huge header"> 
         <h1><%= blog.title%></h1> 
    </div>
    <div class="ui top attached ">
        <div class="item ">
            <img src="<%= blog.imageURL %>" alt="" class="ui centered rounded image segment >
            <div class="content">
                <span>by  <%= blog.author.displayName %></span>
                <p><span class="blog-date show-blog"><%= blog.created.toDateString() %></span></p> 
            </div>
            <div class="description">
                <p> <%-blog.body %></p>
            </div>
            <div>
                <form class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method ="POST">
                    <a class="positive ui button "href="/blogs/<%=blog._id%>/edit">EDIT </a>  
                    
                    <!-- Either button or input works! -->
                    <button class="ui red danger button">DELETE</button>

                </form>    
            </div>
            <div class = "">
                <a href="/blogs/<%= blog._id %>/comments/new" >Leave a comment</a>
            </div>
        </div>
    </div>

    <div class="ui main text container segment ">
        <h3>Comments:</h3>   
        <% blog.comments.reverse().forEach(function(comment){   %>
            <p> 
                <%- comment.content %>  <br/>
                <span class="blog-date show-blog"> 
                    <em> 
                        <b><%= comment.author.displayName %> </b>, on <%= comment.created.toDateString() %> 
                    </em> 
                </span>
            </p>  
        <% }) %>
        
    </div>
   

    <% include ./partials/footer.ejs %>

</div>    