<% include ./partials/header.ejs %>

<div class="ui main text container segment show"> 
     <div class="ui huge header"> <h1><%= blog.title%></h1> </div>
        <div class="ui top attached ">
            <div class="item ">
                <img src="<%= blog.imageURL %>" alt="" class="ui centered rounded image segment >
                <div class="content">
                    <span>by  <%= blog.author %></span>
                    <p><span class="blog-date show-blog"><%= blog.created.toDateString() %></span></p> 
                </div>
                <div class="description">
                    <p> <%= blog.body %></p>
                </div>
                <div>
                    <a class="positive ui button "href="/blogs/<%=blog._id%>/edit">EDIT </a>  
                </div>

            </div>
        </div>
       
    <div>
       
    </div>

    <% include ./partials/footer.ejs %>

</div>    