

<% include partials/header.ejs %>


<% if (url === '/' ) { %>
    <h1>THIS IS THE <%= url %> PAGE</h1>
<% } %>

<% if (url === '/dog' ) { %>
    <h1>THIS IS THE <%= url %> PAGE</h1>
<% } %>

<% if (url === '/bye' ) { %>
    <h1>THIS IS THE <%= url %> PAGE</h1>
<% } %>
<% if (url.includes('/search?') ) { %>  
    <h1>THIS IS THE SEARCH RESULTS PAGE!</h1>
    <p style="color :white; font-weight: 300"> Bay ID <%= result[0].bay_id %> is currently <%= result[0].status %>. </p>
<% } %>
<br/>
<p>Welcome.  Glad you got this far.</p>
<p>The url you entered to get here is <%= url %> </p>

<% include partials/footer.ejs %>


